<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>admin/categories</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>mappedfile</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>
			org.sitemesh.config.ConfigurableSiteMeshFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadImageController</display-name>
    <servlet-name>DownloadImageController</servlet-name>
    <servlet-class>controller.DownloadImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImageController</servlet-name>
    <url-pattern>/DownloadImageController</url-pattern>
  </servlet-mapping>
</web-app>